.h1 {
    font-size: 2.5rem;
}

.h2 {
    font-size: 2rem;
}

.h3 {
    font-size: 1.75rem;

}

.h4 {
    font-size: 1.5rem;
}

.h5 {
    font-size: 1.25rem;
}

.h6 {
    font-size: 1rem;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-bottom: 0.5rem;
    font-weight: 600;
    line-height: 1.2;
    font-family: inherit;
}

.omit-text {

    text-decoration: line-through;
}

.grey-text {

    color: var(--primary-faint-grey);
}

.underline-text {

    text-decoration: underline;
}

.small-text {

    font-family: inherit;
    font-size: 80%;
}

.italic-text {

    font-style: italic;
}

.center-text{

    text-align: center;
}

.heading-container {
    margin: 1rem;
    border: 2px solid var(--primary-black);
    padding: 1rem;
    font-family: var(--primary-font);
}
.text-container {
    margin: 1rem;
    border: 2px solid var(--primary-black);
    padding: 1rem;
    font-family: var(--primary-font);
}