<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../component.css">
    <script src="https://kit.fontawesome.com/67165fa09e.js" crossorigin="anonymous"></script>
    <title>Scrole UI</title>
</head>

<body>
    <div class="main-wrapper">
        <header class="navbar-wrapper">
            <div class="icon-div">
                <img class="main-icon" src="../../images/Scroll-UI logo.svg" alt="logo">
                <span class="icon-text">Scrole</span>UI
            </div>
            <nav class="navbar">
                <ul class="nav-link">
                    <li><a href="../../index.html">Home</a></li>
                    <li><a href="">Documentation</a></li>
                </ul>
            </nav>
            <a href="#">Examples</a>
        </header>
        <nav class="side-navbar">
            <ul class="side-ul">
                <h1>Components</h1>
                <li class="side-li"><a href="../avatar/avatar.html">Avatar</a></li>
                <li class="side-li"><a href="../alert/alert.html">Alert</a></li>
                <li class="side-li"><a href="../badge/badge.html">Badge</a></li>
                <li class="side-li"><a href="../button/button.html">Button</a></li>
                <li class="side-li"><a href="../card/card.html">Cards</a></li>
                <li class="side-li"><a href="../image/image.html">Image</a></li>
                <li class="side-li"><a href="../input/input.html">Input</a></li>
                <li class="side-li"><a href="../Typography/text.html">Typography</a></li>
                <li class="side-li"><a href="../list/list.html">Lists</a></li>
                <li class="side-li"><a href="../modal/modal.html">Modal</a></li>
                <li class="side-li"><a href="../rating/rating.html">Rating</a></li>
                <li class="side-li"><a href="../navbar/navbar.html">Navigation</a></li>
                <li class="side-li"><a href="../toast/toast.html">Toast</a></li>
                <li class="side-li"><a href="../grid/grid.html">Grids</a></li>
            </ul>
        </nav>
        <section class="main-section">
            <div class="section-heading">Grid</div>
            <div class="section-subhead">Grid makes layout system easier using rows and columns .
            </div>
            <p class="section-para">In the below example we have two types of grids.Use classes <span
                    class="para-span">grid-2 </span>,<span class="para-span">grid-3</span> to apply the grids.</p>

            <div class="component-example grid-design grid-2">
                <div class="grid-box-1">Box 1</div>
                <div class="grid-box-2">Box 2</div>
            </div>
            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%2858%2C115%2C163%2C1%29&t=one-dark&wt=none&l=auto&width=733.25&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522component-example%2520grid-design%2520grid-2%2522%253E%250A%253Cdiv%2520class%253D%2522grid-box-1%2522%253EBox%25201%253C%252Fdiv%253E%250A%253Cdiv%2520class%253D%2522grid-box-2%2522%253EBox%25202%253C%252Fdiv%253E%250A%253C%252Fdiv%253E"
                class="code-iframe" sandbox="allow-scripts allow-same-origin">
            </iframe>
            <div class="component-example grid-design grid-3">
                <div class="grid-box-1">Box 1</div>
                <div class="grid-box-2">Box 2</div>
                <div class="grid-box-3">Box 3</div>
            </div>
            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%2858%2C115%2C163%2C1%29&t=one-dark&wt=none&l=auto&width=733.25&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522component-example%2520grid-design%2520grid-3%2522%253E%250A%253Cdiv%2520class%253D%2522grid-box-1%2522%253EBox%25201%253C%252Fdiv%253E%250A%253Cdiv%2520class%253D%2522grid-box-2%2522%253EBox%25202%253C%252Fdiv%253E%250A%253Cdiv%2520class%253D%2522grid-box-3%2522%253EBox%25203%253C%252Fdiv%253E%250A%253C%252Fdiv%253E"
                class="code-iframe" sandbox="allow-scripts allow-same-origin">
            </iframe>
        </section>
    </div>
</body>

</html>