@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');
@import "./components/navbar/navbar.css";
@import "./components/sidebar/sidebar.css";
@import "./components/avatar/avatar.css";

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color: #E2F1EC;
}

.main-wrapper {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3,1fr);
  }
.main-section{
    margin-right: 6rem;
    grid-column: 2/-1;
    display: flex;
    flex-direction: column;
}
.navbar-wrapper{
    grid-column: 1/-1;
}
