@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');
@import "./components/navbar/navbar.css";
@import "./components/sidebar/sidebar.css";
@import "./components/avatar/avatar.css";
@import "./components/alert/alert.css";
@import "./index.css";

:root{

    --primary-background:#E2F1EC;
    --primary-color:#005C68;
    --primary-font:'Spartan', sans-serif;
    --primary-faint-red:rgb(226, 124, 124);;
    --primary-faint-green:#99e696;
    --primary-faint-orange:#f5dc93;
    --primary-faint-grey:#a09c9c;
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-size: 100%;
    background-color: var(--primary-background);
}

.flex-row{
    display: flex;
    flex-wrap: wrap;
}
.flex-column{
    display: flex;
    flex-wrap: column wrap;
}
.flex-align-center{
    align-items: center;
}
.flex-justify-center{
    justify-content: center;
}
.flex-gap1{
    gap: 1rem;
}
.flex-gap2{
    gap: 2rem;
}
.flex-gap3{
    gap: 3rem;
}
.main-wrapper {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3,1fr);
  }

.navbar-wrapper{
    grid-column: 1/-1;
}

/* main section */

.main-section{
    margin-right: 6rem;
    grid-column: 2/-1;
    display: flex;
    flex-direction: column;
}

.section-heading{
    font-family: var(--primary-font);
    font-size: 3rem;
    font-weight: bold;
}
.section-subhead{
    font-family: var(--primary-font);
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1.5rem 0rem;;
    color: var(--primary-color);
}
.section-para{
    font-family: var(--primary-font);
    font-size: 1rem;
    font-weight: 600;
    margin: 3rem 0rem;
}
.component-example{

    margin: 3rem 0rem;
}

@media only screen and (max-width: 600px) {

    *{
        font-size: 60%;
    }
}
