@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');
@import "./components/navbar/navbar.css";
@import "./components/sidebar/sidebar.css";
@import "./components/avatar/avatar.css";
@import "./components/alert/alert.css";
@import "./components/badge/badge.css";
@import "./components/button/button.css";
@import "./components/card/card.css";
@import "./components/image/image.css";
@import "./components/input/input.css";
@import "./components/Typography/text.css";
@import "./components/list/list.css";
@import "./components/modal/modal.css";
@import "./components/rating/rating.css";
@import "./index.css";

:root {

    --primary-background: #E2F1EC;
    --primary-compliment: #F1E2E7;
    --primary-color: #005C68;
    --primary-font: 'Spartan', sans-serif;
    --primary-faint-red: rgb(226, 124, 124);
    --primary-faint-green: #99e696;
    --primary-faint-orange: #f5dc93;
    --primary-faint-grey: #a09c9c;
    --primary-dark-red: red;
    --primary-dark-green: green;
    --primary-dark-orange: orange;
    --primary-dark-grey: rgb(80, 79, 79);
    --primary-white: white;
    --primary-black: black;
    --primary-btn-hover: #00899B;
    --secondary-btn: #BA4F4F;
    --secondary-btn-hover: #DAB0A8;
    --primary-gold:#FFD700;

}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-size: 100%;

}

body {
    background-color: var(--primary-background);
    font-family: var(--primary-font);
}

.flex-row {
    display: flex;
    flex-flow: wrap;
}

.flex-column {
    display: flex;
    flex-flow: column wrap;
}

.flex-align-center {
    align-items: center;
}

.flex-justify-center {
    justify-content: center;
}

.flex-gap1 {
    gap: 1rem;
}

.flex-gap2 {
    gap: 2rem;
}

.flex-gap3 {
    gap: 3rem;
}

.main-wrapper {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

.navbar-wrapper {
    grid-column: 1/-1;
}

/* main section */

.main-section {
    margin-right: 2rem;
    grid-column: 2/-1;
    display: flex;
    flex-direction: column;
}

.section-heading {
    font-family: var(--primary-font);
    font-size: 3rem;
    font-weight: bold;
}

.section-subhead {
    font-family: var(--primary-font);
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1.5rem 0rem;
    color: var(--primary-color);
}

.section-para {
    font-family: var(--primary-font);
    font-size: 1rem;
    font-weight: 600;
    margin: 3rem 0rem;
    line-height: 1.5;
}

.component-example {

    margin: 3rem 0rem;
}

.code-iframe {
    width: 100%;
    height: 335px;
    border: 0;
    transform: scale(1);
    overflow: hidden;
}

@media only screen and (max-width: 600px) {

    * {
        font-size: 75%;
    }
    .main-section{
        grid-column: 1/-1;
        grid-row: 2;
        margin-left: 2rem;
    }
    .main-wrapper{
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
    }
}