.main-page-section {
    display: flex;
    margin: 5rem;
    padding: 2rem;
    flex-flow: row wrap;
    gap: 5rem;
}

.head-first-page {
    line-height: 1.7;
}

.home-page-footer {
    width: 100%;
    height: 10rem;
    background-color: var(--primary-compliment);
}

.footer-logo-a {
    color: black;
    font-size: 2.5rem;
}