.navbar li,
a {
    color: #95B0B0;
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    color: var(--primary-color);
}

.icon-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
}

.main-icon {
    width: 80px;
    height: 80px;
    cursor: pointer;
}

.icon-text {
    color: var(--primary-color);
    font-weight: bold;
}

.navbar-wrapper {
    font-family: var(--primary-font);
    margin: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 10%;

}

.nav-link {
    list-style: none;
}

.nav-link li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-link li,
a:hover {
    color: black;
}

/* Example of Navbar */
.navbar-example {

    border: 2px solid black;
    padding: 1rem;
    background-color: white;
}

.ec-navbar-wrapper {

    display: flex;
    align-items: center;
    padding-inline-end: 1.5rem;
    color: var(--ec-primary-color);
    margin-bottom: 1rem;
    padding: 1rem 3rem;
    background-color: var(--primary-white);

}

.ec-navbar {

    flex: 1;
    text-align: right;
    padding: 1rem;

}

.ec-nav-link {

    display: inline-block;
    list-style-type: none;
    color: var(--ec-primary-color);

}

.ec-nav-link li {

    display: inline-block;
    color: var(--ec-primary-color);
    margin-right: 0.5rem;
}

.ec-input {

    margin-right: 1rem;
    padding: 0.7rem;
    border: 0.15rem solid var(--ec-primary-color);
}

.ec-main-icon {

    width: 5rem;
    cursor: pointer;
}

.cart-icons {

    font-size: 1.5rem;
}